h1.title {
	color: white;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 150%;
	padding-left: 2%;
	text-align: center;
}


h1 {
	font-family: 'Roboto', sans-serif;
	color: white;
}

p {
	font-family: 'Roboto', sans-serif;
	color: white;
}

.header {
	background-color: #0A0A2A;
	width: 100%;
	position:fixed;
	height: 60px;
	top: 0px;
	border-bottom: 1px solid white;
}

body {
	margin: 0;
	padding: 0;
	background-color: #0A0A2A;
}

#wrapper {
	padding-left: 2%;
	padding-right: 2%;
	padding-top: 60px;
}

