h1.title {
	color: white;
	font-family: 'Roboto', sans-serif;
	font-size: 150%;
	padding-left: 2%;
}

#clockmoving {
	padding-top: 50%;
}
#clock {
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	font-size: 250%;
	color: white;
    text-align: center; 
}

h1 {
	font-family: 'Roboto', sans-serif;
	color: white;
}

p {
	font-family: 'Roboto', sans-serif;
	color: white;
}

.header {
	background-color: #212121;
	width: 100%;
	position:fixed;
	height: 60px;
	top: 0px;
	box-shadow: 0px 0px 10px black;
}

body {
	margin: 0;
	padding: 0;
	background-color: #121212;
}

#wrapper {
	padding-left: 2%;
	padding-right: 2%;
	padding-top: 60px;
}

